<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">LOGO</a>
        <div class="summary">
            <a href="{{ "cart/"  | prepend: site.baseurl }}" class="cart-checkout">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> View cart (<span class="simpleCart_quantity"></span>)
                <div class="cart_popup" style="display: none;">
                    <!-- create a checkout button -->
                    <a href="javascript:;" class="simpleCart_checkout">Checkout</a>
                    <!-- button to empty the cart -->
                    <a href="javascript:;" class="simpleCart_empty">Empty</a>
                    <!-- show the cart -->
                    <div class="simpleCart_items"></div>
                    <!-- cart total (ex. $23.11)-->
                    <div class="simpleCart_total"></div>
                    <!-- cart quantity (ex. 3) -->
                    <div class="simpleCart_quantity"></div>
                    <!-- tax cost (ex. $1.38) -->
                    <div class="simpleCart_tax"></div>
                    <!-- tax rate (ex. %0.6) -->
                    <div class="simpleCart_taxRate"></div>
                    <!-- shipping (ex. $5.00) -->
                    <div class="simpleCart_shipping"></div>
                    <!-- grand total, including tax and shipping (ex. $28.49) -->
                    <div class="simpleCart_grandTotal"></div>
                </div>
            </a>
        </div>
    </div>
</header>
